/* app css stylesheet */
body {
  font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  /*background: #eaeaea url('../img/bg.png');*/
}

legend {
  border-bottom: 1px solid #b5b5b5;
}

h1 {
  border-bottom: 1px solid #b5b5b5;
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.wrapper {
  width: 600px;
  margin: auto;
  padding-top: 40px;
}

[search] ul li {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

[search] li.ui-animate {
  opacity: 0;
  max-height: 0;
  /*padding: 0 5px;*/
}

#isearch-selector {
  margin: 10px auto;
}
.accordion {
  float: left;
  width: 600px;
}
.accordion-group {
  width: 45%;
  float: left;
  margin-right: 10px;
}

#results {
  float: left;
}