extends layout

block content
  .span3.bs-docs-sidebar.wrapper
    ul.nav.nav-list.bs-docs-sidenav.affix
      li.dropdown-submenu
        a(href="") 音乐文本
        ul.dropdown-menu
          li.dropdown-submenu
            a 传统音乐
            ul.dropdown-menu
              li
                a 民间音乐
          li
            a 专业创作音乐
      li.dropdown-submenu
        a(href="") 文化语境
        ul.dropdown-menu
          li what a fff
            a wert
            a third
          li second
            a sec
