doctype 5
html(ng-app="app")
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/angularui/angular-ui.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/lib/select2/select2.css')
    link(rel='stylesheet', href='/lib/fineuploader/fineuploader.css')

  body
    .container
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          a.brand(href="/") MMDB
          ul.nav
            li
              a(href="/addNode")添加内容
            li
              a(href="/listNodes")浏览内容

      block content

  script(src='/lib/jquery-latest.js')
  // script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
  script(src='/lib/bootstrap/js/bootstrap.js')
  // script(src='/javascripts/less-1.3.3.min.js')
  script(src='/lib/angular/angular.js')
  script(src='/lib/angular/angular-resource.js')
  script(src='/lib/angularui/angular-ui.js')
  script(src="/lib/select2/select2.js")
  script(src='/lib/angular/ui-bootstrap-tpls-0.2.0.js')
  script(src='/js/app.js')
  script(src='/js/services.js')
  script(src='/js/controllers.js')
  script(src='/js/filters.js')
  script(src='/js/directives.js')
  script(src='/js/isearch/isearch-directives.js')
  script(src='/js/isearch/isearch-services.js')
  script(src='/js/isearch/isearch-controllers.js')
  script(src='/js/fileupload/fileupload-directives.js')
  script(src='/js/fileupload/fileupload-services.js')
  script(src='/js/ckeditor/ckeditor-directives.js')
  script(src='/lib/uuid.js')
  // script(src='/lib/jquery.browse.js')

  // File Uploader
  script(src='/lib/fineuploader/js/util.js')
  script(src='/lib/fineuploader/js/handler.base.js')
  script(src='/lib/fineuploader/js/handler.xhr.js')
  script(src='/lib/fineuploader/js/ajax.requester.js')
  script(src='/lib/fineuploader/js/deletefile.ajax.requester.js')
  script(src='/lib/fineuploader/js/button.js')
  script(src='/lib/fineuploader/js/dnd.js')
  script(src='/lib/fineuploader/js/uploader.basic.js')
  script(src='/lib/fineuploader/js/uploader.js')

  // CKEditor 4
  script(src='/lib/ckeditor/ckeditor.js')
  //  script(src='/lib/ckeditor/config.js')
  // script(src='/lib/underscore.js')
  // script(src='/lib/handlebars.js')
