<div>
  <input type="hidden" class="input-medium search-query" style="width: 250px" id="input" >
  <div facetpath ng-repeat="val in inputs"></div>
  <div id='isearch-selector'>
    <accordion close-others="false">
      <accordion-group is-open="true" heading="{{key}}" ng-repeat="(key,value) in facets">
        <div facetlink ng-repeat="v in value"></div>
      </accordion-group>
    </accordion>
  </div>
  <ul>
    <li ng-repeat="item in inputs">
      {{item.id}} - {{item.nlink}} - {{item.text}}
    </li>
  </ul>
  <div id="results">
    <h2>结果</h2>
    <ul>
      <li ng-repeat="item in results">
        <a ng-href="{{item.id | mmdbPath}}">{{item.properties.label}}</a>
      </li>
    </ul>
  </div>
</div>