<form novalidate>
	<fieldset>
    <legend>添加资源</legend>
    <label>资源名称</label>
    <input type="text" ng-model="label" required placeholder="">
    <!-- <label>语义标识</label> -->
    <!-- <input type="text" ng-model="semanticterm"><br/> --><br/>
     <button type="submit" class="btn" ng-click="save()">保存</button>
	</fieldset>
</form>
<div search="label"></div>