<div>
  <form class="form-horizontal">
    <label>添加属性</label>
    <div class="control-group">
      <label class="control-label" for="inputKey">属性名</label>
      <div class="controls">
        <input type="text" id="inputKey" ng-model="key">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">属性类型</label>
      <div class="controls">
        <input type="radio" ng-model="propertytype" ng-click="propertytype = 'text'" value="text"> 文本 <br/>
        <input type="radio" ng-model="propertytype" ng-click="propertytype = 'richtext'" value="richtext"> 富文本 <br/>
        <input type="radio" ng-model="propertytype" ng-click="propertytype = 'file'" value="file"> 文件 <br/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputValue">属性值</label>
      <div class="controls">
        <input type="text" id="inputValue" ng-show="propertytype == 'text'" ng-model="text">
        <div ng-show="propertytype == 'richtext'">
          <textarea ckeditor ng-model="richtext"></textarea>
        </div>
        <div ng-show="propertytype == 'file'">
          <div fileupload selectedfiles="selectedfiles"></div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary save" ng-click="_saveproperty()">保存</button>
      <!-- <button type="submit" class="btn" ng-click="save({key: key, value: value})">保存并继续添加</button> -->
      <button class="btn btn-danger cancel" ng-click="cancel()">取消</button>
    </div>
  </form>
</div>