<div>
  <form class="form-horizontal">
    <label>添加关联</label>
    <div class="control-group">
      <input type="hidden" id="relationshiptype" required data-placeholder="-- 选择关联 --" style="width:150px">
    </div>

    <input type="hidden" ng-required="select" id="relationshipto" style="width: 150px">
 
    <div class="control-group">
      <button type="submit" class="btn" ng-click="save()">保存</button>
      <button type="submit" class="btn" ng-click="cancel()">取消</button>
    </div>
  </form>
</div>