<div>
  <form class="form-horizontal">
    <label>编辑属性</label>
    <div class="control-group">
      <label>{{key}}</label>
      <input type="text" ng-model="valuein">
    </div>

    <div class="control-group">
      <button type="submit" class="btn" ng-click="save()">保存</button>
      <button type="submit" class="btn" ng-click="cancel()">取消</button>
    </div>
  </form>
</div>