<div>
  <h1>{{node.properties.label}}</h1>
  <h2>属性<button class="btn btn-primary btn-small pull-right" ng-disabled="isaddpropertyopen" ng-click="showaddproperty()" ng-init="isaddpropertyopen=false">添加属性</button></h2>

  <div ng-show="isaddpropertyopen">
    <div add-property cancel="canceladdproperty()" saveproperty="saveproperty(key, value)" class="well well-small"></div>
  </div>

  <dl class="dl-horizontal">
    <div property key="{{key}}" value="value" saveproperty="saveproperty(key, value)" delproperty="delproperty(key)" ng-repeat="(key, value) in node.properties">
    </div>
  </dl>
  <hr />
  <h2>关联<button class="btn btn-primary btn-small pull-right" ng-disabled="isaddrelationshipopen" ng-click="showaddrelationship()">添加关联</button></h2>

  <div ng-show="isaddrelationshipopen">
    <div add-relationship saverelationship="saverelationship(to, type)" cancel="canceladdrelationship()" class="well"></div>
  </div>
  <ul>
    <li relationship="relationship" deleterelationship="deleterelationship(relationship)" ng-repeat="relationship in node.relationships">
    </li>
  </ul>
<!--   <ul>
    <li ng-repeat="relationship in node.relationships">
      <div relationship="relationship"></div>
    </li>
  </ul> -->
</div>
<div>
  <button class="btn btn-danger" ng-click="openMessageBox()">删除此内容</button>
</div>