<div ng-mouseover="showediticon = true" ng-mouseleave="showediticon = false" ng-init="showediticon = false">
  <dt>
    {{key}}
  </dt>
  <dd>
    <span ng-switch on="propertytype">
      <span ng-switch-when="file">
        <ul ng-repeat="item in valuein">
          <li><a target="_blank" ng-href="{{item | arrayvalue}}">{{item}}</a></li>
        </ul>
      </span>
      <span ng-switch-when="text" ng-model="valuein" contenteditable="true">
      </span>
      <span ng-switch-when="richtext" ng-model="valuein" contenteditable="true">
      </span>
      <!--<i class="icon-edit" ng-show="showediticon && !iseditpropertyopen" ng-click="showpropertyedit()" style="cursor:pointer"></i>-->
    </span>
    <i class="icon-remove" ng-show="showediticon && !iseditpropertyopen" ng-click="delproperty(key)" style="cursor:pointer"></i>
  </dd>
</div>