<div>
  <div ng-mouseover="showediticon = true" ng-mouseleave="showediticon = false">
  <a ng-href="{{relationship.data.start | createlink}}">{{relationship.data.startlabel}}</a>
  -> 
  [{{relationship.data.type}}] 
  -> 
  <a ng-href="{{relationship.data.end | createlink}}">{{relationship.data.endlabel}}</a>
  <!-- <i class="icon-edit" ng-show="showediticon && !iseditpropertyopen" ng-click="showrelationshipedit()" style="cursor:pointer"></i> -->
  <i class="icon-remove" ng-show="showediticon && !iseditpropertyopen" ng-click="deleterelationship({relationship:relationship})" style="cursor:pointer"></i>
  <button class="btn btn-mini pull-right" ng-show="!isaddpropertyopen" ng-click="showaddproperty()" ng-init="isaddpropertyopen=false">添加属性</button>
  </div>
  <div ng-show="isaddpropertyopen">
    <div add-property cancel="cancel()" saveproperty="saveproperty(key, value)" class="well"></div>
  </div>
  <dl class="dl-horizontal">
    <div property key="{{key}}" value="value" saveproperty="saveproperty(key, value)" delproperty="delproperty(key)" cancel="cancel()" ng-repeat="(key, value) in relationship.data.data">
    </div>
  </dl>
  <hr/>
</div>