<div>
  <select ui-select2 ng-model="select2" data-placeholder="-- 选择属性 --" style="width:150px">
    <option ></option>
    <option ng-repeat="relation in relationshiptypes.data" value="{{relation[0]}}">{{relation[0]}}</option>
  </select>
  <div class="btn-group" data-toggle="buttons-radio">
    <button type="button" ng-click="showtext()" class="btn btn-primary">文本值</button>
    <button type="button" ng-click="showselect()" class="btn btn-primary">其他内容</button>
  </div>
  <input type='text' ng-show="text">
  <div ng-show="select" style="display:inline-block">
    <select ui-select2 ng-model="select3" data-placeholder="选择一项内容" style="width:150px">
      <option></option>
      <option ng-repeat="node in allnodes.data" value="{{node[1]}}">{{node[0]}}</option>
    </select>
  </div>

</div>